$primaryColor: rgb(51, 51, 51) ;
$secundaryColor: rgb(250, 1, 8);
$whiteColor: white;
$grayColor: gray;
$blackColor: black ;

$FontSize_S: 1.6rem;
$FontSize_M: 1.8rem;
$FontSize_L: 2.4rem;
$FontSize_XL: 3rem;



@font-face{
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face{
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}