.about-container {
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: $FontSize_XL;
    font-family: OpenSans-Regular;
  }
  p {
    font-size: $FontSize_S;
    font-family: OpenSans-Regular;    
  }
}