.backButton {
    position: fixed;
    top: 1rem;
    border: none ;
    color: $whiteColor;
    font-size: $FontSize_S;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    background-color: $secundaryColor;
    width: 8rem;
    margin-top: 3rem;
  }