.banner {
  display: flex;
  height: 100vh ;
  background-color: rgba($color: #000000, $alpha: 0.6) ;
}
.banner_img {
  z-index: -5;
}
.banner_img-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
.banner_info{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.logo-container{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 25rem;
}

.logo{
  width: 100%;
}

.banner_title {
  color: white;
  font-size: $FontSize_L;
  padding: 2rem;
  text-align: center;
  font-family: OpenSans-Regular;
}