.footer-container {
  display: flex;
  background-color: $primaryColor;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  text-align: center;
  h1 {
    font-size: $FontSize_L;
    font-family: OpenSans-Regular;
    font-weight: 700;
    color: $secundaryColor;
  }
  p {
    font-size: $FontSize_S;
    font-family: OpenSans-Regular; 
    color: $whiteColor;   
  }
}
  .img_footer-container{
    width: 20rem;
    margin: 0 auto;
  }

  .footer_list{
    list-style-type: none;
    padding-left: 5px;
  }
  .footer_list li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: $FontSize_S;
    font-family: OpenSans-Regular;
  }
  .footer_icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: white;
  }

  .footer_text{
    font-size: $FontSize_M;
    color: white;
    text-decoration: none;
  }

  .logo_footer{
    width: 200px;
  }

  @media(min-width: 920px){
    .footer-container {
      align-items: left;
      text-align: left;
    }

    .footer_contain{
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
    }
  }